body{ background:#f9fcfd;}
.topHeader{margin-bottom:0px;}
.topHeader .navbar{background:#007abe; padding:0px; border-radius:0px; min-height:inherit; margin:0px; border:0px;}
.topHeader .navbar-brand{ float:right; color:#fff; height:inherit; padding:9px 15px;}
#page-content-wrapper .navbar-brand{position: absolute;top: -38px;left: 0;}
.topHeader .navbar-nav{ float:right; width:auto; margin:0px;}
.topHeader ul{}
.topHeader ul li{font-size:13px; line-height:30px; font-weight:500; color:#fff; display:inline-block;}
.topHeader ul li a{font-size:13px; color:#fff; font-weight:500;}
.topHeader ul li + li{ margin-left:20px;}
.topHeader ul li img{ padding-right:10px;}
.topHeader ul li i.fa-phone{transform: rotate(90deg);}
.topHeader .navbar-nav > li > a{ padding:5px 0;}
#wrapper {padding-left: 0;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
#wrapper.toggled {padding-left: 350px;}
#sidebar-wrapper {z-index: 1000; position: fixed;left:0px;width: 0;height: 100%;margin-left:0;overflow-y: auto;background: #fff;-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;transition: all 0.5s ease; top:0px; box-shadow:0 0 12px #e2e2e2;}
#wrapper.toggled #sidebar-wrapper {width: 350px;}
#page-content-wrapper {width: 100%;position: absolute;padding: 15px;}
#wrapper.toggled #page-content-wrapper {position: absolute;margin-right: 0px;}
/* Sidebar Styles */
.sidebar-nav {position: relative;top: 0;left:0;width: 350px;margin: 0;padding: 0;list-style: none;}
.sidebar-nav li {text-indent: 20px;line-height: 40px;}
.sidebar-nav li + li{ border-top:1px solid #f6f6f6;}
.sidebar-nav li a {display: block;text-decoration: none;color: #727272; padding:15px 24px;  font-size:16px; font-weight:400;}
.sidebar-nav li a:hover {text-decoration: none;color: #007abe;background:#f4f9fc; font-weight:600;}
.sidebar-nav li a:active, .sidebar-nav li a:focus {text-decoration: none; color: #007abe;background:#f4f9fc; font-weight:600;}
.sidebar-nav li a.active{color: #007abe;background:#f4f9fc; font-weight:600;}
.sidebar-nav>.sidebar-brand {height: 65px;font-size: 18px;line-height: 60px;}
.sidebar-nav>.sidebar-brand a {color: #999999;}
.sidebar-nav>.sidebar-brand a:hover {color: #fff;background: none;}


.logo {padding: 20px;text-align: center;border-bottom: 1px solid #dbdbdb;}
.axa-logo{ text-align:center; clear:both; padding:30px 0; clear:both;}
.axa-logo figure, .axa-logo figure img{border-radius:50%;}
.axa-logo figcaption{color:#1c1c1c; font-size:16px; padding-top:15px; font-weight:500;}
.mainTitle{ clear:both; margin:30px 0; position:relative;}
.mainTitle h1{ font-weight:500; color:#000; font-size:30px;}
.mainTitle p{ color:#727272; font-size:16px; font-weight:400; margin-top:6px;}
.mainTitle a{ border-radius:50%; background:#000; position:absolute; right:0; top:20px; color:#007abe; background:#d8eef6; width:46px; height:46px; font-size:22px; text-align:center; line-height:46px;}
.mainTitle a:hover{ background:#007abe; color:#fff;}
.totalIssue{clear:both; background:#fff; padding:30px; box-shadow:0 4px 5px #ccc}
.totalIssue h3{font-size:18px; color:#000000; font-weight:500; margin-bottom:30px;}
.totalIssue ul{}
.totalIssue ul li{ display:inline-block; width:24%;}
.totalIssue ul li figure{ float:left; padding-right:20px; width:70px;}
.totalIssue ul li h4{ font-weight:500; font-size:24px;}
.totalIssue ul li p{ font-size:12px; color:#727272;}

.totalDay{ clear:both; margin-top:50px;}
.totalDay h3{font-size:18px; color:#000000; font-weight:500; margin-bottom:30px;}
.nBox{background:#fff; min-height:200px; vertical-align:middle; padding:46px 30px; box-shadow:0 4px 5px #ccc; text-align:center;}
.nBox h4{ font-size:60px; color:#000; font-weight:500;}
.nBox p{ padding-top:8px; color:#727272; font-size:18px;}

@media all and (max-width:1199px) {
.totalIssue ul li figure{ float:none; margin-bottom:10px;}
}
@media all and (max-width:991px) {
.nBox p{ font-size:16px;}

}

@media(min-width:768px) {
  #wrapper {padding-left: 0;}
  #wrapper.toggled {margin-left: 380px;padding:0;}
  #sidebar-wrapper {width: 0;}
  #wrapper.toggled #sidebar-wrapper {width: 350px;}
  #page-content-wrapper {padding: 20px;position: relative;}
  #wrapper.toggled #page-content-wrapper {position: relative;margin-left: 0;}
}
@media all and (max-width:767px) {
.totalIssue ul li{ width:49%;}
.totalIssue ul li figure{ margin-bottom:12px;}
.nBox{ margin-bottom:15px;}
.totalIssue ul li figure{ float:left;}
#page-content-wrapper .navbar-brand {position: fixed;top: 0;left: 0;background: #007abe;z-index:9999; height: auto;padding: 8px 13px;}
}

@media all and (max-width:479px) {
.nBox{ margin-bottom:15px;}
.nBox p{ font-size:14px;}
.nBox{ padding:46px 15px;}

}
@media all and (max-width:413px) {
.topHeader .navbar-brand{ position:relative; background:#007abe; z-index:9999;}
.totalIssue ul li{ width:100%;}
.totalDay .col-xs-6{ width:100%;}
.topHeader ul li + li {margin-left: 0;}
.topHeader ul li img {padding-right: 0;}
.topHeader ul li, .topHeader ul li a{ font-size:12px;}
}
